<!doctype html>
<html lang="en">

<head>
    <%- include ('partials/head.ejs') %>
    <title>TodayIngoLearned</title>
</head>

<body>
<%- include ('partials/navigation.ejs') %>


<main class="flex-shrink-0">
    <div class="container">
        <div class="card">
            <div class="card-body">
                <p class="md description"><%=comment.comment %></p>
                <hr>
                <a href="/comment/edit/<%= comment.id %>"><button class="btn btn-secondary">Edit</button></a>
                <a href="/comment/edit/<%= comments.id %>/delete"><button class="btn btn-danger">Delete</button></a>
            </div>
        </div>
    </div>
</main>

<%- include ('partials/footer_text.ejs') %>

<%- include ('partials/footer.ejs') %>
</body>

</html>