<!doctype html>
<html lang="en">

<head>
    <%- include ('partials/head.ejs') %>
    <title>TodayIngoLearned</title>
</head>

<body>
<%- include ('partials/navigation.ejs') %>

<main class="flex-shrink-0">
    <div class="container">   
      <h2>Edit <em><%= til.title %></em></h2>
      <br>
      <form id="edittil" method="POST" target="">
          <div class="mb-3 row">
            <label for="title" class="col-2 col-form-label">Title</label> 
            <div class="col-10">
              <input id="title" name="title" placeholder="TIL" type="text" required="required" class="form-control" value="<%= til.title %>">
            </div>
          </div>
          <div class="mb-3 row">
            <label for="date" class="col-2 col-form-label">Day</label> 
            <div class="col-10">
              <div class="input-group mb-2">
                <div class="input-group-prepend">
                  <i class="input-group-text fa-solid fa-calendar"></i>
                </div>
                <input id="date" name="date" type="date" class="form-control" value="<%= date %>">
              </div>
            </div>
          </div>
          <div class="mb-3 row">
            <label for="description" class="col-2 col-form-label">Description</label> 
            <div class="col-10">
              
              <p>
                <button id="md-bold" type="button" class="btn btn-secondary"><strong>bold</strong></button>
                <button id="md-italics" type="button" class="btn btn-secondary"><em>italics</em></button>
                <button id="md-link" type="button" class="btn btn-secondary">link (e)</button>
                <button id="md-ilink" type="button" class="btn btn-secondary">link (i)</button>
                <button id="md-tag" type="button" class="btn btn-secondary">#tag</button>
              </p>

              <textarea id="description" name="description" cols="40" rows="10" aria-describedby="descriptionHelpBlock" class="form-control"><%= til.description %></textarea> 
              <span id="descriptionHelpBlock" class="form-text text-muted">You can simply use hashtags in here that will then be converted to "Tags".</span>
            </div>
          </div> 
          <div class="mb-3 row">
            <div class="offset-2 col-10">
              <button name="submit" type="submit" class="btn btn-primary">Save</button>
            </div>
          </div>
        </form>     
        <hr>
        <a href="/edit/<%= til.id %>/delete"><button class="btn btn-danger">Delete</button></a>  
    </div>
</main>


<%- include ('partials/footer_text.ejs') %>

<%- include ('partials/footer.ejs') %>
</body>

</html>