<!doctype html>
<html lang="en">

<head>
    <%- include ('partials/head.ejs') %>
    <title>TodayIngoLearned</title>
</head>

<body>
<%- include ('partials/navigation.ejs') %>


<main class="flex-shrink-0">
    <div class="container">

        <div class="card">
            <div class="card-body">
                <h5 class="card-title"><%= til.title %></h5>
                <h6 class="card-subtitle mb-2 text-muted"><%= til.date.toDateString() %></h6>
                <% for (let tag in til.tags) { %>
                    <a href="/tag/<%=til.tags[tag].substring(1) %>"><span class="badge bg-secondary"><%=til.tags[tag] %></span></a>
                <% } %>

                <hr>
                <p id="tildescription" class="card-text md description"><%=til.description %></p>
                <hr>

                <a href="/edit/<%= til.til_id %>/addcomment" class="btn btn-secondary">Add Comment</a>
                <a href="/edit/<%= til.til_id %>" class="btn btn-primary">Edit</a>
                <%if (bookmarked) { %>
                    <a href="/edit/<%= til.til_id %>/bookmark" class="btn bg-warning">⚑</a>
                <% } else {  %>
                    <a href="/edit/<%= til.til_id %>/bookmark" class="btn bg-warning">⚐</a>
                <% } %>
            </div>
        </div>

        <br>

        <%if (til_urls) { %>
            <%if (til_urls.length > 0) { %>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">URLs</h5>
                    <% for (let i in til_urls) { %>
                        <a href="<%= til_urls[i] %>"><%= til_urls[i] %></a><br>
                    <% } %>
                </div>
            </div>
            <% } %>
        <% } %>
        
        <%if (comments.length > 0) { %>
        <hr>
        <h3>Comments</h3>

        <% for (var i = 0; i < comments.length; i++) { %>
            <div class="card">
                <div class="card-body">
                    <p class="md description"><%=comments[i].comment %></p>
                    <hr>
                    <a href="/edit/comment/<%= comments[i].id %>"><button class="btn btn-secondary">Edit</button></a>
                </div>
            </div>
            <br>
        <% } %>
        <% } %>

    </div>
</main>

<%- include ('partials/footer_text.ejs') %>

<%- include ('partials/footer.ejs') %>
</body>

</html>